@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 80vw;
    font-family: 'Ubuntu', sans-serif;
}

.navbar {
    display: flex;
    height: 67px;
}

.navbar li {
    list-style-type: none;
    margin: 0 12px;
}

.top-left {
    width: 50%;
    height: 50vh;
}

.top-right {
    width: 50%;
    height: 50vh;
}